
@charset "utf-8"

@font-face {

font-family: 'Old1';
src: url("Old1.ttf");

}

#bloco  {



		width: 100%;
		background-color: orange;

	/*Primeiro top , depois direita, baixo e esquerda*/
}
nav {
	width: 100%;
	background-color: grey ;






}

#tach li: hover{
	
	

	/* primeiro direita segundo na esquerda e depois , terceiro espalhamento(solidez), */



}
a {
	font-family: 'Old1' ;



}
img  {

	width: 300px;
	size: 300px;
	box-shadow: 0px , 0px , 55px, 15px #00ff00;
	transition: box-shadow 2s;

}

@charset "utf-8"

